*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
}

.container{
    padding: 20px;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.card:hover{
    transform: translateY(-4px);
}

.card{
    border: 1px solid gray;
    padding: 10px;
    position: relative;
    background: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.title{
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.desc{
    font-size: 12px;
    margin: 6px 0;
    color: gray;
}

.date{
    font-size: 12px;
    margin-top: 10px;
    color: slategrey;
}


.card h3{
    font-size: 1rem;
    margin-bottom: 6px;
}

.card p{
    font-size: 14px;
}

.pages{
    margin-top: 20px;
    text-align: center;

}

.pages button{
    margin: 0 4px;
    padding: 6px 12px;
    background-color: white;
    color: black;
    border-radius: 50%;
}

.pages button.active{
    font-weight: bold;
    background-color: #FAF9F6;
}


.card-image{
    width: 100%;
    height: 140px;
    object-fit: cover;
    margin-top: 6px;
    border-radius: 6px;
}

.close-btn{
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    color: red;
    background-color: white;
}

.loading{
    text-align: center;
    color: black;
    margin-left: 40rem;

}
